{{> header}}
<h2>New Event</h2>
<form action="{{actionPath}}" method="POST">
   <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name">
   </div>
   <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="Description">
   </div>
   <div class="form-group">
      <label for="beginAt">Begin Date and Time</label>
      <input type="text" class="form-control" id="beginAt" name="beginAt" placeholder="yyyy/mm/dd 24hh:mm:ss">
   </div>
   <div class="form-group">
      <label for="endAt">End Date and Time</label>
      <input type="text" class="form-control" id="endAt" name="endAt" placeholder="yyyy/mm/dd 24hh:mm:ss">
   </div>
   <div class="form-group">
      <label for="capacity">Capacity</label>
      <input type="text" class="form-control" id="capacity" name="capacity" placeholder="Capacity">
   </div>
   <div class="form-group">
      <label for="venue">Venue</label>
      <select class="form-control" id="venue" name="venue">
         {{#venues}}
         <option value="{{id}}">{{name}}</option>
         {{/venues}}
         {{^venues}}
         <option value="0">No Venues</option>
         {{/venues}}
      </select>
   </div>
   <button type="submit" class="btn btn-default">Submit</button>
</form>
{{> footer}}